trigger:
  batch: true
  branches:
    include:
      - "*"
  tags:
    include:
      - "v*"

  paths:
    include:
      - src/*
      - tests/*
      - tools/*
      - azure-pipelines.yml

pr: none

pool:
  vmImage: windows-latest

stages:
  - stage: CI
    jobs:
    - job: BuildModule
      steps:
        - task: UseGitVersion@5
          inputs:
            versionSpec: 5.x
            useConfigFile: true
            configFilePath: GitVersion.yml

        - task: PowerShell@1
          displayName: 'Execute Build'
          inputs:
            scriptName: tools/build.ps1

        - task: PublishTestResults@2
          displayName: 'Publish Test Results **\TEST_*.xml'
          inputs:
            testResultsFormat: NUnit
            testResultsFiles: '**\TEST_*.xml'
          continueOnError: true

        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: $(System.DefaultWorkingDirectory)/Release
            artifactName: Release

        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: $(System.DefaultWorkingDirectory)/tools
            artifactName: Tools

  - stage: Release
    dependsOn: CI
    condition: succeeded('CI')
    jobs:
    - job: Test
      condition: eq(variables['Build.SourceBranch'], refs/heads/build_release')
      steps:
        - task: DownloadPipelineArtifact@2
          displayName: Restore Pipeline Artifacts

        - task: PowerShell@1
          displayName: 'Publish Module'
          inputs:
            scriptName: $(Pipeline.Workspace)/Tools/Publish-PSModule.ps1
            arguments: -ApiKey $(PSTestGalleryApiKey) -Path "$(Pipeline.Workspace)/Release/PowervRA" -CheckForExistingVersion -PreRelease

    - job: Production
      condition: startswith(variables['Build.SourceBranch'], 'refs/tags/v'))
      steps:
        - task: DownloadPipelineArtifact@2
          displayName: Restore Pipeline Artifacts

        - task: PowerShell@1
          displayName: 'Publish Module'
          inputs:
            scriptName: $(Pipeline.Workspace)/Tools/Publish-PSModule.ps1
            arguments: -ApiKey $(PSGalleryApiKey) -Path "$(Pipeline.Workspace)/Release/PowervRA" -CheckForExistingVersion

        - task: GitHubRelease@1
          displayName: 'GitHub Release'
          inputs:
            gitHubConnection: 'JakkuLabs'
            tagPattern: 'v*'
            title: PowervRA

